# Ignore Spring Boot build files
*/target/
*/build/

# Ignore IDE files
*/.idea/
*/.eclipse/

# Ignore Maven and Gradle files
*/.m2/
*/.gradle/

# Ignore OS files
*.DS_Store
*/.DS_Store
*/Thumbs.db

# Ignore logs
*/logs/
*/*.log

# Ignore application configuration files
/application.yml
*/application.properties

# Ignore test files
*/test/

*.class